[2014-09-07 18:47] zygmuntz opened #3 "Problem with building"
I get an error from make when building libskylark-9495987 from .tar.gz archive on Ubuntu 14:

$ cmake ..
fatal: Not a git repository (or any of the parent directories): .git
-- No git repository found.
-- Build type is: RelWithDebInfo
-- Building with GNU compiler
-- Building on Linux x86_64 on

-- Boost version: 1.54.0
-- Found the following Boost libraries:
--   mpi
--   program_options
--   ser

[2014-09-08 21:38] poulson opened #4 "Updating to the most recent version of Elemental"
For what it's worth, I have forked libskylark and updated its usage of Elemental to the current development branch:
https://github.com/poulson/libskylark/commit/8907dd524d1f3a44950620a4da5f2cf1ccc28804

There is close to a full C interface currently available, but not yet a Python interface built on top of it. Elemental 0.85 will be released soon, but I expect the Python interface to reappear in v

[2014-09-08 21:49] poulson opened #5 "FFTW and the GPL"
Since FFTW is under the GPL, not the LGPL, instances of libskylark which interface with FFTW must be licensed under the terms of the GPL. It might be worthwhile to document this, otherwise users might falsely assume that the terms of the license are less restrictive.

[2014-09-10 12:09] #3 closed, assigned to nobody

[2015-05-12 09:31] iff commented on #4
We provide support for Elemental 0.86 (rc1 at the moment) since 235b685 in the development branch. Once Elemental 0.86 is released we will merge it back to master.

[2015-12-03 14:26] iff commented on #4
Closing this issue: we try to stay in sync with Elemental as best as we can on the development branch.

[2015-12-03 14:26] #4 closed

[2015-12-03 15:35] poulson commented on #4
I apologize for not having a stable API yet. Sparse integration (and generalizing the data distributions) has continually led to the need for changes.

[2016-01-19 07:47] #5 closed

[2016-03-09 16:40] armandology opened #7 "Error while compiling skylark - ElementalMatrix not found"
I have been trying to compile skylark with following script:

module load python/python-2.7.8-gcc-4.9.2
module load cmake/cmake-3.2.2-gcc-4.9.2
module load openblas/openblas-0.2.13-gcc-4.9.2
module load lapack/lapack-3.5.0-gcc-4.9.2
module load boost/boost-1.57.0-openmpi-1.8.3-gcc-4.9.2
module load openmpi/openmpi-1.8.3-gcc-4.9.2
module load hdf5/hdf5-1.8.14-gcc-4.9.2
module load elemental/element

[2016-03-09 16:58] iff commented on #7
Are you using the `0.86-rc1` tag for your Elemental module (or what git hash was used to build Elemental)? Due to the changes in the Elemental API we currently support/require the Elemental `0ffa9fc29ab740a7a96eccc45c180463723f465d` [commit](https://github.com/elemental/Elemental/commit/0ffa9fc29ab740a7a96eccc45c180463723f465d). If your module is older/newer this will most probably lead to compile

[2016-03-09 17:01] poulson commented on #7
I would highly recommend everyone standardizing on the current dev branch; I'm long overdue for a release but will be dedicating a significant amount of time towards this goal in the next two months.

[2016-03-09 17:30] armandology commented on #7
The Elemental was downloaded and installed as per instructions on skylark page: http://xdata-skylark.github.io/libskylark/docs/stable/sphinx/installation.html

This page asks to download from: Currently version 0.86 is not officially released yet. Please, use the release candidate, e.g. https://github.com/elemental/Elemental/releases/tag/0.86-rc1

[2016-03-09 17:31] armandology commented on #7
So should I download and compile from dev branch ?

[2016-03-09 17:34] poulson commented on #7
Sorry, I don't mean to contradict the official skylark instructions.

[2016-03-09 18:11] iff commented on #7
Please follow this [steps](https://github.com/xdata-skylark/libskylark/blob/development/vagrant/trusty64/bootstrap.sh#L175) for now.

[2016-03-23 21:23] yinjiehuang opened #8 "KDT install error"
Hi, I am following this [https://github.com/xdata-skylark/libskylark/blob/development/vagrant/trusty64/bootstrap.sh] to deploy Skylark in EC2 AWS.

Everything works fine until the step of "KDT", when I input "python ./setup.py build 1> /dev/null", I got the following error:

cc1plus: warning: command line option ‘-Wstrict-prototypes’ is valid for C/ObjC but not for C++ [enabled by default]
In file

[2016-03-24 08:57] iff commented on #8
Hi, could you attach the full log file?
In the meantime, did you look at Haims [starcluster approach](https://github.com/haimav/starcluster-libskylark) to build an image for AWS?

[2016-03-24 10:32] haimav commented on #8
Hi Yinjie,

CombBLAS & KDT are not an hard requirement. For 99% of what you would want to do with libskylark, they are not needed. I suggest you just skip their installation.

If you want to get up and running quickly on EC2, I suggest you just use the [script](https://github.com/haimav/starcluster-libskylark)

[2016-03-28 00:33] yinjiehuang commented on #8
@haimav @iff  Thanks for the reply.
I was following the starcluster approach to build an image these days. However, I still have some problems:
1) Some how my starcluseter does not support c4.large instance, so I use c3.large instead. Besides, I use Ubuntu 14.04.
2) I followed the script till the last step. Then I exited the instance and created the image. The image can be created. But the instanc

[2016-03-28 06:35] haimav commented on #8
@yinjiehuang For c4.large: The bleeding-edge latest version of StarCluster from github has support for that. It is not supported in the latest official release. Do you want to try that out instead of trying to figure out what is the problem with c3.large and the latest official starcluster?

[2016-03-28 19:46] yinjiehuang commented on #8
@haimav I tried c4.large, the problem is still there. The instance is fine and healthy after I install all the softwares following the script. Then I exit the instance and "starcluster ebsimage i-XXXXXXXX hvmimage", after some time, the instance's status changes from "2/2 check" to "1/2 check". I can not log in to the instance after the image is created. Any idea? I am using Ubuntu 14.04 and in No

[2016-03-28 20:34] haimav commented on #8
@yinjiehuang Is there a reason you are using 14.04? When I created the script I used 15.04 in the Oregon region. I can try 14.04 in North Virginia tomorrow... I somehow vaguely remember there were some problems with 14.04 and this is why I used 15.04 (not sure... it was a few months ago).

[2016-03-28 23:15] yinjiehuang commented on #8
@haimav It is working now if I use 15.04 Ubuntu. Thanks a lot for the help.

[2016-03-29 21:53] yinjiehuang commented on #8
@haimav
After installing libskylark, I tried to run this command "skylark_svd -help", however, I got this:
"skylark_svd: error while loading shared libraries: libEl.so: cannot open shared object file: No such file or directory"
Why is this happening? Thanks a lot for the help.

[2016-03-30 07:02] haimav commented on #8
That is very weird...

Did you create the AMI after installing Elemental?
Is there a libEl.so under /usr/local/lib?
Can you ldd skylark_svd?

[2016-03-30 14:11] yinjiehuang commented on #8
@haimav
I crated AMI after installing Elemental. I have libEl.so under /usr/local/lib.
I got this after "ldd skylark_svd":
        linux-vdso.so.1 =>  (0x00007ffda5566000)
	libEl.so => not found
	libm.so.6 => /lib/x86_64-linux-gnu/libm.so.6 (0x00007fa8d8963000)
	libboost_filesystem.so.1.60.0 => not found
	libfftw3f.so.3 => /usr/lib/x86_64-linux-gnu/libfftw3f.so.3 (0x00007fa8d8557000)
	libfftw3.so.

[2016-03-30 14:38] haimav commented on #8
It looks like /usr/local/lib is not in the library load path. Weird...  Perhaps try doing
export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH

[2016-03-30 14:46] yinjiehuang commented on #8
@haimav
Problem solved, Thanks a lot.

[2016-03-31 22:44] yinjiehuang opened #9 "problem running "mpiexec -np 2 skylark_ml""
Hi,

After I created AMI and started a 2 node cluster, I used skylark_ml to run some examples and got some problem.

I downloaded "usps.bz2" and "usps.t.bz2" from LIBSVM datasets. Then train the svm model using "mpiexec -np 2 skylark_ml -g 10 -k 1 -l 2 -i 30 -f 1000 --trainfile data/usps --modelfile model"
This is the output I got:
" Generated using skylark_mlusing the following command-line:
	sky

[2016-03-31 22:50] #8 closed

[2016-04-06 09:36] iff commented on #9
What instance types did you use for the nodes?

[2016-04-06 09:43] iff commented on #7
@armandology: did you ever manage to resolve the issues?

[2016-04-06 14:15] haimav commented on #9
I found the bug and will issue a fix very soon.

[2016-04-06 14:23] yinjiehuang commented on #9
@iff I am using c4.large. @haimav  Thanks a lot.

[2016-04-06 16:46] haimav commented on #9
@yinjiehuang The development branch now has the fix.

Note that to get mpiexec to use other nodes in the cluster you need to use the -f flag for mpiexec and provide it with a host file (with your command both processes are on the master node).

[2016-04-07 22:17] yinjiehuang commented on #9
**@haimav Thanks for the help.
I reinstalled skylark with the bug fix, I tried "mpiexec -np 2 skylark_ml --outputfile output --testfile data/usps.t --modelfile model" again, however, I have the following error message:**

Mode: Predicting (from file). Loading data...
Generated using skylark_mlusing the following command-line:
	skylark_ml --outputfile output --testfile data/usps.t --modelfile model

[2016-04-08 01:52] armandology commented on #7
Yes I was able to build using the instructions you provided earlier: "Please follow this steps <https://github.com/xdata-skylark/libskylark/blob/development/vagrant/trusty64/bootstrap.sh#L175> for now.”

Many thanks.

However, I am just the sysadmin, and the actual professor who has to use the system for research hasn’t gotten back to me if there are any issues, so it seems all is good :-)

Regard

[2016-04-08 03:49] haimav commented on #9
@yinjiehuang For the hosts file, you should use ./skylark_ml instead of skylark_ml

Did you do "git pull" and then "get checkout development" before recompiling skylark?
The bug fix is now also in the master branch, so just doing "git pull" and compiling skylark_ml should fix things.

[2016-04-08 06:40] iff commented on #7
Ok, closing this issue.

[2016-04-08 06:40] #7 closed

[2016-04-08 21:37] yinjiehuang commented on #9
@haimav
I opened a brand new, two-node cluster and git clone the newest repository. I was trying to compile the newest version of libskylark, however, after "make" command, when I "make install", I got the following error:

...
-- Up-to-date: /usr/local/include/skylark/sketch/hash_transform_Elemental.hpp
-- Up-to-date: /usr/local/lib/libcskylark.so
-- Up-to-date: /usr/local/include/skylark/basec.h

[2016-04-11 06:46] iff commented on #9
Yep, the current CMake file in CAPI is broken. I'll fix it as soon as we decided where to install the files. For now you can just comment lines [40 - 45](https://github.com/xdata-skylark/libskylark/blob/master/capi/CMakeLists.txt#L40-L45) in the `capi/CMakeLists.txt` file.

[2016-04-11 08:06] iff commented on #9
Pushed a commit that should fix this issue.

[2016-04-11 20:01] yinjiehuang commented on #9
@iff @haimav Thanks, it is working now.

[2016-04-11 20:01] #9 closed

[2016-05-23 08:41] haimav opened #10 "Redundant line"
Looks like svd.hpp line 112 is redundant - has no effect.

[2016-05-23 11:52] iff commented on #10
development branch?

[2016-05-23 12:10] haimav commented on #10
It is on the dev branch as well. I put an issue because I didn't want to push the change without checking it, and was too busy to check it today.

[2016-05-23 12:20] iff commented on #10
So, you are talking about https://github.com/xdata-skylark/libskylark/blob/development/nla/svd.hpp#L112 ?

[2016-05-23 12:26] haimav commented on #10
Yes.

[2016-06-06 21:44] haimav opened #11 "Error message do not propegate in meaningful way to the python layer"
One idea is to serialize in json the exceptions generated by the C++ layer.

[2016-06-07 07:06] iff commented on #11
Aside from the [strerr](https://github.com/xdata-skylark/libskylark/blob/46c889cec9b1180120a7d63158cede53fabf2df9/capi/basec.hpp#L25) like functionality that we provide?

[2016-06-11 06:10] haimav commented on #11
Yes, I meant something that will print the information that is issued at the point of exception to understand the reason instead of "something failed in the sketching layer'.

Anyway, I implemented it. You can take a look to see how (in development branch).

[2016-06-11 06:10] #11 closed

[2016-06-13 07:05] iff commented on #11
Ok, that functionality makes sense. 
 
The `lastexception` global static is probably not thread safe, right?
 
-- Yves--Yves Ineichen, PhDResearch Staff MemberIBM Research - ZurichCognitive Computing SolutionsSaumerstrasse 4, 8803 Rueschlikon - Switzerlandtel: +41 44 724 8587e-mail: yin@zurich.ibm.com
 
 
----- Original message -----From: Haim Avron <notifications@github.com>To: xdata-skylark/libs

[2016-06-13 07:30] haimav commented on #11
mmm.... didn't think of that too much. exception_ptr is technically thread safe, but I am not sure it is enough. In general I would think we use OpenMP for threading and that all exception handling should be done outside parallel region. But I don't think this is really the case in the code. The whole issue of exception handling with OpenMP is not clear to me.

[2016-06-13 21:38] haimav opened #12 "Distributed elemental-like sparse matrices are not supported in C-API or Python"

[2016-06-13 21:39] haimav opened #13 "linear_t, expsemigroup_t and matern_t should inherit from kernel_t but do not"
Missing implementations...

[2016-07-06 20:11] jomsdev opened #14 "skylark.io has changed its API (Python)"
Seems the python API has changed these days. There is an example in the notebook called Sketch & Solve. I am trying to execute it but it is out of date. Here is some code that is in the file:

[code]

skylark.io has no more `libsvm`, it has been substituted with  `readlibsvm`. Its parameters have changed, now take more than before. Could I found an example about how to use the new `readlibsvm` ? I

[2016-07-18 21:05] jomsdev opened #15 "Unreachable code in elemhelper.py"
Checking the file **elemhelper.py** I have found some code after a return statement; that code is never executed. The affected function is local2distributed(), check it [here](https://github.com/xdata-skylark/libskylark/blob/development/python-skylark/skylark/elemhelper.py#L41).

Can I remove that code @haimav ?

[2016-07-31 18:36] poulson commented on #12
`El::DistSparseMatrix` does have C and Python API's. Do you mean a full version that supports all of the matrix distributions that `DistMatrix` does? If so, that is indeed one of the main upcoming milestones for Elemental.

[2016-08-03 10:06] haimav commented on #12
At least in the past DistSparseMatrix only had a 1D partition that did not match the 1D partition distributions of DistMatrix. So we ended up creating our own very basic distributed sparse matrix with VC,STAR and STAR,VR distributions. Once (if ever) Elemental has these we will remove then from libskylark.

[2016-08-03 15:01] poulson commented on #12
`DistMatrix<T,VC,STAR,BLOCK>` with the proper distribution block size exactly matches the distribution pattern of `DistMultiVec<T>` and `DistSparseMatrix<T>`.

[2016-08-03 15:24] iff opened #19 "KissFFT"
@haimav also proposed to support kissFFT as a default FFT implementation:

http://sourceforge.net/projects/kissfft/

[code]

[2016-08-08 22:05] jomsdev commented on #14
Given X and Y matrices, the function takes now three parameters

[code]

[2016-08-08 22:05] #14 closed

[2016-08-10 22:34] jomsdev opened #20 "Gaussian Kernel python interface"
I am working on the python bindings in the capi branch. I wrote a little script which read a data file and applies the Gaussian kernel to the data. The schema would be something like that

[code]

The C++ code throws an exception with the message  **This combination has not yet been implemented for Gram**. I tried it reading the data as "rows" and as "columns" but, in both cases, the result has be

[2016-08-15 19:38] jomsdev commented on #20
I have been debugging the C++ code to figure out what is happening. When I call the python function passing DistMatrix() objects as parameters the [SKYLARK_GRAM_ANY_APPLY_DISPATCH](https://github.com/xdata-skylark/libskylark/blob/capi/ml/kernels.hpp#L82) macro is not matching any value. I used that snippet to check te types of our variables:

[code]

I pass the msg variable as the default msg for

[2016-08-15 21:46] jomsdev commented on #20
Problem solved in the  #21 commit.

The Kernel is working now when is called from the python interface.

[2016-08-15 21:46] #20 closed

[2016-08-16 21:39] jomsdev opened #22 "Polynomial Kernel"
I am working on the Python bindings for the kernel functions. The Gaussian kernel is now available, and I am trying to bind now the Polynomial kernel. I can call successfully the C++ code, but the result matrix seems to be wrong. If I am not wrong, the result matrix should be symmetric and contain ones along the diagonal. I have that little script (working):

[code]

I am using the [usps.t](https:

[2016-08-19 04:59] jomsdev commented on #22
I solved the problem and found a possible bug.

I was using bad the C++ function:

[code]

The 5th parameter should be the same than te 4th (I am trying to compare de distances between a function and itself)

Anyway, I was doing it well from python but the result remains incorrect.

[code]

Should I go deeper with the C++ code or it is better if I focus bringing more functionalities to the python

[2016-08-20 04:18] haimav commented on #22
In general there is no restriction that the 5th parameter will be same as the 4th, only that both will have the same number of features. If you use "COLUMNS" in the Gram function, then this means that Height() should be the same for both. Obviously, when you used Y it was not having this property.

Now, if X and Y are different, but have same height, this is a valid call but you can (and will) end

[2016-08-20 06:05] jomsdev commented on #22
I did not check if the matrix was symmetric. But the problem seems to be that we don't get ones in the diagonal even when X and Y are the same matrix.

I guess that the 4th and 5th parameter can be different but then even having a symmetric matrix the diagonal will not have ones in the diagonal, right?

[2016-08-21 02:06] haimav commented on #22
Hi, actually for the polynomial you will generally not get ones of the diagonal. (You do get ones on the diagonal for the Gaussian and Laplace kernel).

Basically the polynomail kernel is k(x,z) = (gamma^-1 * x^T z + c)^q. If gamma=1 and c=0 and every data vector has unit norm, then you will get 1s on the diagonal, but that is not the usual case.

[2016-08-23 04:58] jomsdev commented on #22
Excellent, I did not know that property. I thought all the kernels should contain ones on the diagonal.

I am thinking about how to test it then. I guess that I could select some random i,j and calculate
k(x,z) = (gamma^-1 * x^T z + c)^q
then, compare the result with the matrix that the c++ returned me.

On the other hand, that only would be useful for the gram function. Any idea about how to test

[2016-08-23 14:19] iff opened #24 "Sketching scipy sparse matrices"
Reported by @gidiko:

Using the following snippet in python:
[code]
gives

[code]

We should first identify if this behavior comes from the C++ layer or the Python layer (which also includes a scipy adaptation step)

---

Interestingly *explicit* **type** and **matrix ordering** information play an important role. Ideally extra tests and subsequent adaptations should be pushed to the Python-layer

[2016-08-23 14:24] iff opened #25 "Migarte to Travis CI"
Migrate from our internal ci to travis-ci. Currently we are stuck with this until we have an Elemental deb package (building Elemental requires roughly 1300s). How about [caching](https://docs.travis-ci.com/user/caching/) build artefacts?

[2016-08-23 14:52] poulson commented on #25
@andreasnoack recently added `ccache` support into [Elemental's Travis config](https://github.com/elemental/Elemental/blob/master/.travis.yml). Perhaps the same approach could be grafted into Skylark's Travis config. And, FWIW, I have some time to help with the Debian package again.

[2016-08-23 15:02] iff commented on #25
Thanks for the pointer.. I'll give it a shot.

[2016-08-26 06:09] jomsdev commented on #22
I will test it computing
[code]
To some/all the values in python and compare them to the C++ implementation given an example matrix. It is implemented and working so I close the issue.

[2016-08-26 06:09] #22 closed

[2016-08-26 06:47] jomsdev commented on #13
I am fixing that issue. I just write the code for the Linear kernel and seems to work (both, the C++ and the Python binding).

However, there is some part of the code that I would like to discuss. Now all the flow is working but:

- In the file [ckernel](https://github.com/xdata-skylark/libskylark/blob/capi/capi/ckernel.cpp#L11) the str2kernel_type function is using a macro defined in another file

[2016-08-29 11:35] iff opened #29 "Improve Travis"
- [ ] use matrix for clang/gcc openmpi/mpich
- [ ] make use of the Elemental deb (once it becomes available)

[2016-08-29 11:35] iff commented on #25
The build is still slow and not using a matrix to test various compilers and MPI implementations (see #29).

[2016-08-29 11:35] #25 closed

[2016-08-29 12:21] andreasnoack commented on #29
I have a matrix running in https://github.com/JuliaParallel/Elemental.jl/blob/master/.travis.yml. Unfortunately, the `ccache` part is not working as well as it should but I still think it gives at significant speedup.

[2016-08-31 11:51] haimav commented on #13
@jomsdev

Re macro in ckernel: it is defined in matrix_types.hpp which might not be the best place. Maybe we should define another hpp for macros.

Re kernels.hpp: Yes, this is a nightmarish maze, but I didn't find any other way to do it. If you have a good idea please share.

[2016-08-31 11:54] haimav commented on #12
@poulson Is it the case that DistSparseMatrix<T> has the same 1D distribution of the rows as DistMatrix<T, VC, STAR>? If that is the case, we will definitely switch to using Elementals' instead of our own very partial and basic implementation.

[2016-08-31 12:00] haimav commented on #10
Looking at this again, I don't see why the line is redundant, so I am closing the issue.

[2016-08-31 12:00] #10 closed

[2016-08-31 12:02] #15 closed

[2016-08-31 12:03] haimav commented on #24
@jomsdev  and @gidiko Did you make progress with this bug?

[2016-08-31 14:53] poulson commented on #12
About five months ago DistMultiVec was modified to have a distribution equivalent to DistMatrix <T,VC,STAR,BLOCK> with a particult distribution block size (essentially the height divided by the number of workers).

[2016-08-31 18:28] haimav commented on #12
What about DistSparseMatrix?

[2016-08-31 19:13] poulson commented on #12
Its columns each have the equivalent distribution.

[2016-09-01 21:48] jomsdev commented on #13
#28 solves that fact. All the kernels now inherit from kernel_t and implements the interface.
There is an exception: matern_t. I will open other issue related to that fact.

@haimav
I will think about how ckernel and kernels.hpp could have a better flow. For now, I will let it "as is" given that is working and I understand the flow.

[2016-09-01 21:48] #13 closed

[2016-09-01 21:53] jomsdev opened #30 "Executing a Kernel: a nightmarish maze."
Now all the flow is working but:

- In the file [ckernel](https://github.com/xdata-skylark/libskylark/blob/capi/capi/ckernel.cpp#L11) the str2kernel_type function is using a macro defined in another file.

- In the file [kernels.hpp](https://github.com/xdata-skylark/libskylark/blob/capi/ml/kernels.hpp#L78) the Gram() function defined inside a macro that will be expanded some lines below with multi

[2016-09-01 22:01] jomsdev opened #31 "Matern Kernel implementation needed (C++)"
The #28 pull request give us all the flow to use the Matern kernel from the capi. However, the implementation is missed (gram and symmetric_gram functions are empty!)  For now, I will throw an exception if someone tries to execute them.

The function should have that behavior (this is python code that should be translated to C++):

[code]

[2016-09-01 22:06] jomsdev opened #32 "ExpSemiGroup kernel: symmetric_gram implementation needed (C++)"
The symmetric_gram function implementation is missed for the [ExpSemiGroup kernel](https://github.com/xdata-skylark/libskylark/blob/pyKernels/ml/kernels.hpp#L994).

[2016-09-01 22:13] jomsdev opened #33 "Distance Matrix functions only work for matrix in column mode"
Given two matrices, [distance.hpp](https://github.com/xdata-skylark/libskylark/blob/development/base/distance.hpp) implements some useful "distances Matrices" (Euclidian, L1,...). However, the functions only handle the cases which the two matrices are in column mode.

I will add some exceptions for the other cases but we should deal with them at some point.

[2016-09-01 22:21] jomsdev opened #34 "Test python kernels"
There are some [tests](https://github.com/xdata-skylark/libskylark/blob/pyKernels/python-skylark/skylark/tests/ml/test_kernels.py) for the kernel python bindings. However, they only check the gram function and they don't check the RFT functions. I don't know how to check that they are working, any idea?

[2016-09-02 07:33] jomsdev commented on #24
Not yet

[2016-09-02 17:44] haimav commented on #34
One way to check this is to take a small dataset (can be synthetic), apply the RFT to generate a matrix Z and then test that K is approximately equal to Z * Z'. Here approximately can perhaps be tested using Frobenius norm.

[2016-09-13 06:18] jomsdev opened #36 "HDP Elemental function."
I have been exposing the [KernelRidge](https://github.com/xdata-skylark/libskylark/blob/development/ml/krr.hpp#L47) in the capi branch.

The function crashes when I call it from python. I thought it was my fault and I started to debug it.
The problem is the HPD function in [this line](https://github.com/xdata-skylark/libskylark/blob/development/ml/krr.hpp#L84)

Tomorrow I will check if it's a Elem

[2016-09-13 11:25] haimav commented on #36
Most likely this is an Elemental issue. HPDSolve uses Cholesky, and Cholesky has a bug.
See the following issue I opened this morning:
https://github.com/elemental/Elemental/issues/181

[2016-09-16 13:10] haimav commented on #36
The fact that the compiler does not complain about the lack of El:: namespace is weird!

Nevertheless, when I tried the code on my laptop it works fine... @jomsdev can you explain how to reproduce the bug?

[2016-09-16 15:09] poulson commented on #36
Someone else recently had the same namespace question. I can look into what might be causing it.

[2016-09-16 19:43] haimav commented on #36
@poulson yes that can be useful...

[2016-09-16 20:34] jomsdev commented on #36
I guess there is some "using namespace El" that is not inside a namespace {}

[2016-09-17 02:16] poulson commented on #36
After looking into the namespace issue, I am unable to reproduce *any* such namespace issue. Nor has anyone provided a Minimum Working Example (only statements that their code doesn't work...). I am calling shenanigans in the mean time.

[2016-09-17 05:56] haimav commented on #36
@jomsdev Can you explain how to reproduce the bug? The code works fine on my laptop.

[2016-09-18 16:51] poulson commented on #36
I just finished debugging the other instance of a namespace issue that I referred to, and it appears to be a C++ nuance and not Elemental related. For example, the following code does not compile for me with either `g++` or `clang++`:
[code]
Somehow the import of `foo::Rectangle` into the `bar` namespace causes the `bar` definition of `BuildStream` to be confused as to whether it should recursivel

[2016-09-18 17:46] poulson commented on #36
My guess is that the actual culprit for the namespace issue is argument-dependent lookup: http://stackoverflow.com/questions/39560477/importing-a-single-class-into-a-namespace-appears-to-require-that-there-be-no-fu?noredirect=1#comment66431685_39560477

[2016-09-19 04:41] disa-mhembere opened #38 "Test inputs to low_rank routines"
I would like test [low_rank.hpp](https://github.com/xdata-skylark/libskylark/blob/lowrank/ml/low_rank.hpp) for correctness using [low_rank.cpp](https://github.com/xdata-skylark/libskylark/blob/lowrank/examples/low_rank.cpp). @kenclarkson could you provide me with reasonable values for parameters `k`, `epsilon`, `m`, `ml`, `mr` given some square matrix dimension `n`.  This is from your low ranks ps

[2016-09-19 07:42] jomsdev commented on #36
@haim Yes, I have been trying to solve it that weekend but I could not.

Given that code

[code]

Elemental's HPD [throws an exception](https://github.com/elemental/Elemental/blob/bc0cb4ad9b32db1ba570f7db4a7c817c90c4ec81/src/lapack_like/factor/Cholesky/LVar3.hpp#L57) when is called with a [matrix K](https://github.com/xdata-skylark/libskylark/blob/pyKrr/ml/krr.hpp#L73) in the KernelRidge function.

[2016-09-19 11:31] haimav commented on #36
While really linear kernel should not be used with KernelRidge (because there is a faster algorithm for the linear case), this definitely should have worked. I looked into this and found that the Gram function for the linear kernel was not implemented correctly. I fixed the issue and pushed it to the capi branch.

[2016-09-19 11:31] #36 closed

[2016-09-19 19:29] kenclarkson commented on #38
I didn't understand: low_rank_hpp is an implementation of the low-rank PSD approximation algorithm in that manuscript? (Probably you said already)

[2016-09-19 19:30] kenclarkson commented on #38
(low_rank.hpp)

[2016-09-19 19:39] disa-mhembere commented on #38
Yes that's correct -- the low-rank PSD approx you wrote with David. Sorry if that was unclear.

Now I want to verify correctness so I would some example parameters I can test with.

[2016-10-05 06:36] jomsdev opened #41 "MNIST C++ example"
Hello,

I have just finished the MNIST ipython notebook. I will update it tomorrow to the official repository to let you check it. However, I have used numpy for the calculation of least_squares. I tried using the skylark version but seems that is not working.

I have been checking if it was the python binding or the C++ implementation and seems to be the last one. The function

[code]

solve the

[2016-10-05 06:51] jomsdev commented on #41
BTW, using

[code]
still giving me ["FAILED to create!" ](https://github.com/xdata-skylark/libskylark/blob/development/algorithms/regression/accelerated_linearl2_regression_solver_Elemental.hpp#L375).

[2016-10-06 18:05] haimav commented on #41
Note that we have:
https://github.com/xdata-skylark/libskylark/blob/development/ml/rlsc.hpp#L95

[2016-10-11 08:25] iff opened #42 "Vagrant and MPI_THREAD_MULTIPLE"
Currently we use the Ubuntu Boost packages when provisioning the Vagrant VM (https://github.com/xdata-skylark/libskylark/blob/development/vagrant/trusty64/bootstrap.sh#L68). As for Travis we should use mpich and compile Boost (see https://github.com/xdata-skylark/libskylark/blob/development/script/bootstrap-travis-deps#L6) in order to avoid the MPI_THREAD_MULTIPLE issue (`MPI_THREAD_MULTIPLE: WARN

[2016-10-12 23:01] jomsdev commented on #41
I will try the same example using rlsc after binding Approximate and Faster KernelRidge. I will post here the results.

[2016-10-12 23:03] jomsdev commented on #30
After thinking on this for more than a month and ported other functionalities using the same schema I do not have any idea about how to do it as generic as is and less complicate.

Given this, I'm going to close the issue.

[2016-10-12 23:04] #30 closed

[2016-10-25 17:50] jomsdev opened #43 "Add _type attribute to kernel_container_t"
The [kernel_container_t](https://github.com/xdata-skylark/libskylark/blob/development/ml/kernels.hpp#L1167) class only has a shared pointer to kernel_t as an attribute. However, sometimes it can be created using a [boost::ptree as parameter](https://github.com/xdata-skylark/libskylark/blob/development/ml/kernels.hpp#L1173). In this cases, there is a switch statement checking which kind of kernel d

[2016-10-25 17:59] jomsdev opened #44 "KernelRidge functions only admits DistMatrices<T>"
The function [KernelRidge](https://github.com/xdata-skylark/libskylark/blob/development/ml/krr.hpp#L94) only admits El::DistMatrix<T> as a parameters.
However, from the capi we are casting "DistMatrix" to El::ElementalMatrix<double> with the [skylark_void2any_root](https://github.com/xdata-skylark/libskylark/blob/development/capi/matrix_types.cpp#L45) function.

KernelRidge regression is going to

[2016-10-25 18:45] jomsdev opened #45 "Expose KenrelRidge to the CAPI"

[2016-10-25 19:32] jomsdev opened #46 "Choosing an orientation "standard" Rows 0 Columns 1"
Elemental has its own way to specify how a matrix has to be treated. (El::Normal, El::Transpose...)

With Skylark we have the [skylark::base::direction_t](https://github.com/xdata-skylark/libskylark/blob/development/base/basic.hpp#L6) enum. However, in order to expose this enum to the C API we have [two defines](https://github.com/xdata-skylark/libskylark/blob/development/capi/basec.hpp#L15). We a

[2016-10-25 20:36] jomsdev opened #47 "Kernel.py needs a get_kernel_obj() function"
Other functions interact with kernels. In orther to call functions like KernelRidge we have to be able to get the c_void_ptr() given a Kernel in python.

[2016-10-25 20:42] jomsdev commented on #43
#48

[2016-10-26 17:09] jomsdev opened #49 "CI buildings falling. easy_intall exited with 1"
In the CI server, the builds are failing. For example, [the krr.py](https://travis-ci.org/xdata-skylark/libskylark/builds/170837501) the build did not succeed. The problem seems not to be in the libskylark code. The build breaks because:

[code]

We can install all these packages using pip but first we need to know what is going wrong.

[2016-10-26 17:29] haimav commented on #47
Maybe call it get_obj() so that the function name of other objects will be the same,

[2016-10-26 17:31] haimav commented on #46
Yes this makes sense.

[2016-10-26 17:34] haimav commented on #44
I am not sure the code will be correct for ElementalMatrix. Just use skylark_void2any instead...

[2016-10-26 17:46] jomsdev opened #50 "CMake -DBUILD_ML=OFF does not deactivete some CLI tools"
Running the command make after

[code]

compiles three targets: capi (libskylark.so), skylark_linear, skylark_svd.

I think this is not how it should work because -DBUILD_ML=OFF. Is this the normal behavior or we have to change it?

[2016-10-26 17:47] jomsdev commented on #50
If this is not ML we could have -DBUILD_NLA

[2016-10-26 18:37] poulson commented on #46
FWIW, a C++ enum has the ABI of an `unsigned int`, with the first enum value defaulting to 0, and subsequent values incrementing by one. Thus python can easily be made to be compatible via ctypes.

[2016-10-26 18:57] jomsdev commented on #47
Much better with the same name.

[2016-10-27 06:14] haimav commented on #50
-DBUILD_ML=OFF only turns off the building of cli under ml. The ones you mention are under nla. We should probably have also a -DBUILD_NLA.

[2016-11-17 18:58] jomsdev commented on #19
I have been working on this for some time. Right now there is a version with libskylark compiling against kissfft as default (but it is "easy" change it if you want to compile using fftw). I moved the logic implemented in FUT.hpp to the folder utility/fft with three different implementations: using kissfft, using fftw, without any fft implementation (empty object that throws error if you use it).

[2016-11-18 01:19] gidiko commented on #19
### Things come out OK

**Code**

[code]

**Output from running it**
====================
[DEBUG]: What the output x4 buffer contains
--------------------
[8.92475447881435, 0.0]
[-1.6339659284048371, 5.689893001203927e-16]
[-1.9818146430166106, 3.3306690738754696e-16]
[-1.5878066429230464, 4.440892098500626e-16]
[2.1770848390845394, -2.220446049250313e-16]
[0.8631617121724362, -5.551115123125783e

[2016-11-18 04:44] gidiko commented on #19
### Similarly for the comparison of FFTW's DCT to fftpack's DCT: THINGS AGREE HERE AS WELL

**The code**

[code]

**The output**
====================
Input data
--------------------
0.548813503927
0.715189366372
0.602763376072
0.544883182997
0.423654799339
0.645894113067
0.437587211263
0.891773000782
0.963662760501
0.383441518826

====================
DCT transformed data based on fftw
-----------

[2016-11-21 18:47] jomsdev commented on #19
I have finished the integration of DCT using KissFFT. All the cmake files have been updated. The
standard configuration is  -DUSEKISSFFT=ON

I have not implemented IDCT (yet) which is used in the [RFUT_t file](https://github.com/xdata-skylark/libskylark/blob/fftw/sketch/RFUT_Elemental.hpp).

Testing the code with the MNIST example the results seems to agree with the FFTW version. However the times

[2016-11-21 18:56] gidiko commented on #19
Nice. Also timings seem within the typical FFTW - KISSFFT diffs in [fftw benchmarks]( http://www.fftw.org/speed/)

[2016-11-22 02:56] jomsdev commented on #50
Effectively, we have an -DBUILD_NLA too.

I have moved both ML and NLA applications to its own folder. I think that it is not really a "feature" and should have their own space.

Do you have any objection? @haimav @gidiko

[2016-11-28 22:45] #50 closed

[2016-11-28 22:45] #47 closed

[2016-11-28 22:46] #46 closed

[2016-11-28 22:47] jomsdev commented on #49
It seems to be an external error. It was only that day, all the systems are working now. I am going to close the issue.

[2016-11-28 22:47] #49 closed

[2016-11-30 18:12] jomsdev commented on #44
Casting with skylark_void2any worked as you suggested.

[2016-11-30 18:12] #44 closed

[2016-12-01 18:37] jomsdev commented on #43
After the discussion in #48  I have implemented it in the "refactor" branch it will reach development->master after merging the refactor branch

[2016-12-01 18:37] #43 closed

[2016-12-01 18:42] jomsdev commented on #19
DCT II implemented #53

Waiting for the code review and merge

[2016-12-13 01:14] #45 closed

[2016-12-13 01:26] jomsdev opened #61 "Exposing KernelRLSC to python"
The [KernelRLSC](https://github.com/xdata-skylark/libskylark/blob/kernelRLSC.py/ml/rlsc/kernelRLSC.hpp#L11) function is now bound. I had to take some decision about how to expose it given that the function uses vector<El::Int> as one if its parameters and vector is not exposed to python. The [solution](https://github.com/xdata-skylark/libskylark/blob/kernelRLSC.py/capi/crlsc.cpp#L16) that I implem

[2016-12-14 07:16] jomsdev commented on #61
Starting from the branch with the KernelRLSC bound I implemented a  [Classifier](https://github.com/xdata-skylark/libskylark/blob/classifier.py/python-skylark/skylark/ml/classifier.py) class.

Basically has a function for each step in the "typical" classification problem: load the data, specify a kernel object, run a version of kernelRLSC (appoximate, faster, etc), load the test data, predict and

[2017-01-05 19:45] gidiko opened #62 "FJLT: Matrix -> Matrix"
We need to have the combination: FJLT on Matrix objects and get Matrix objects back.

- This specialization should be in sketch/FJLT_Elemental.hpp ... basically a copy/paste of the DistMatrix -> DistMatrix specialization starting in https://github.com/xdata-skylark/libskylark/blob/master/sketch/FJLT_Elemental.hpp#L732 with DistMatrix replaced by Matrix ;)

- Then in capi/csketch.cpp we should add

[2017-01-05 20:02] jomsdev commented on #62
Hi Giorgios,

Thank you for the detailed issue. I will take a look on it.

[2017-01-05 20:32] gidiko opened #63 "QXcbConnection: Could not connect to display"
When playing with the libskylark as installed by the installer script I get:
[code]

[2017-01-05 20:36] gidiko commented on #63
A work-around with an environment variable: **QT_QPA_PLATFORM=offscreen**
from https://github.com/ariya/phantomjs/issues/14376

[code]

Looking around for something more transparent...

[2017-01-05 21:14] gidiko commented on #63
Another workaround... choose the agg backend... before importing El
[code]

[2017-01-05 21:30] gidiko commented on #63
OK... in lib/python2.7/site-packages/matplotlib/mpl-data/matplotlibrc
changing to
`backend      : Agg`
from
`backend      : Qt5Agg`
also does the trick... but how do we enforce it as default?

[2017-01-06 02:30] poulson commented on #63
You may just want to use a version of Elemental compiled without Qt5. The python visualization is much better than the Qt5 viz.

[2017-01-06 02:31] poulson commented on #63
Passing in the command-line flag `-no-gui` might also fix this.

[2017-01-13 13:53] gidiko commented on #63
Constraining to use Qt4 (instead of Qt5) in conda builds also does the trick:

Add `pyqt >=4,<5` in requirements/run section of `meta.yaml` of the recipe

[2017-01-13 13:54] #63 closed

[2017-01-26 18:32] jomsdev commented on #62
@gidiko solved in #64 and pending to be accepted.

[2017-03-08 18:34] jomsdev commented on #62
Reviewed and accepted.

[2017-03-08 18:34] #62 closed

[2017-03-08 18:35] jomsdev commented on #19
Reviewed and accepted.

[2017-03-08 18:35] #19 closed

[2017-04-03 23:17] jomsdev commented on #41
After bound Approximate and Faster KernelRidge, I checked and all is working.

[2017-04-03 23:17] #41 closed

[2017-04-03 23:34] jomsdev commented on #61
The functionality has been implemented and merged.

[2017-04-03 23:34] #61 closed

[2017-04-03 23:35] jomsdev opened #65 "libSkylark as a dependency"
**TODO**

[2017-04-03 23:35] jomsdev opened #66 "Distributed Sparse Matrices"
**TODO**

[2017-04-04 18:35] jomsdev opened #70 "LibElemental version"
We have, another time, problems when building libskylark from source in our [development-v0.30 branch](https://github.com/xdata-skylark/libskylark/tree/development-v0.30) .

In travis-ci, we are linking against Elemental v0.87.3 and the build fails because the `El::EntrywiseMap` changed its signature.

Should we adapt it to v0.87.3 or keep linking against 0.86?

[2017-04-04 23:48] jomsdev commented on #70
I installed today in a fresh machine with `v0.87.7` and it works.

[2017-04-05 00:07] jomsdev commented on #70
#67 fixed.

[2018-08-23 19:12] Sandy4321 commented on #34
can I use it for pure python project on Windows computer?, meaning without compiling C code

[2018-08-23 19:13] Sandy4321 opened #71 "is it possible to run python project on Windows computer"
can I use it for pure python project on Windows computer?, meaning without compiling C code

or do you have conda installation?

[2018-08-24 19:23] haimav commented on #34
There is very little functionality without the C code.

On Thu, Aug 23, 2018 at 10:14 PM Sandy4321 <notifications@github.com> wrote:

[2018-11-24 04:55] shyamalschandra opened #72 "Comparison between libskylark and fasttext."
Do you plan on comparing libskylark and fasttext in terms of computing word embeddings?

Github for fasttext:
https://github.com/facebookresearch/fastText

[2018-12-03 03:20] shyamalschandra commented on #72
Did you get this message?

[2018-12-03 11:03] haimav commented on #72
That would be something interesting to do, but currently no  plans to actually do it and the foreseeable future... (just too busy)

[2018-12-05 14:45] shyamalschandra commented on #72
Thank you for responding!

[2018-12-05 14:45] #72 closed, assigned to nobody